@font-face {
  font-family: 'MontserratExtraLight';
  src: local('MontserratExtraLight'), url(./assets/fonts/Montserrat-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratLight';
  src: local('MontserratLight'), url(./assets/fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratRegular';
  src: local('MontserratRegular'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratMedium';
  src: local('MontserratMedium'), url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: local('MontserratSemiBold'), url(./assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: local('MontserratBold'), url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  font-family: 'MontserratLight', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'MontserratLight', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
